<!--Blog Author-->
<div class="comment-title"><h3>关于作者</h3></div>
<div class="blog-author">
    <div class="media">
        <div class="pull-left">
            <img alt=''
                 src='/assets/img/author/candy.png'
                 srcset='/assets/img/author/candy.png 2x'
                 class='img-responsive img-circle avatar-200 photo' height='120' width='120'/></div>
        <div class="media-body">
            <h2> Candy <span> Truth & Insurance Office </span></h2>
            <p>
                作者简介
            </p>
            <ul class="blog-author-social">
            </ul>
        </div>
    </div>
</div>
<!--/Blog Author-->
