<div class="clearfix"></div>
<!-- Page Title Section -->
<div class="page-title-section">
    <div class="overlay">
        <div class="container">
            <div class="row">
                {% if page.title == "闲话保险" %}
                <div class="col-md-6">
                    <div class="page-title"><h1>真心话说保险</h1></div>
                </div>
                <div class="col-md-6">
                    <ul class="page-breadcrumb"></ul>
                </div>
                {% else %}
                <div class="col-md-6">
                    <div class="page-title"><h1>{{ page.title }}</h1></div>
                </div>
                <div class="col-md-6">
                    <ul class="page-breadcrumb">
                        <li><a href="/">闲话保险</a> &nbsp &#47; &nbsp
                        <li class="active">{{ page.title }}</li>
                        </li>                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /Page Title Section -->
<div class="clearfix"></div>
