<!--Sidebar Area-->
<div class="col-md-4">
    <div class="sidebar-section-right">
        <div class="sidebar-widget">
            <form action="https://www.baoxian-sz.com/" method="get">
                <input type="text" class="search_widget_input" name="s" id="s" placeholder="搜索"/>
            </form>
        </div>
        <div class="sidebar-widget">
            <div class="sidebar-widget-title"><h3>近期文章</h3></div>
            <ul>
                <li>
                    <a href="https://www.baoxian-sz.com/?p=207" aria-current="page">网易暴力裁员，你做键盘侠还是吃瓜群众</a>
                </li>
                <li>
                    <a href="https://www.baoxian-sz.com/?p=203">被世人曲解的 996</a>
                </li>
                <li>
                    <a href="https://www.baoxian-sz.com/?p=165">甲状腺结节了，该怎么买保险？</a>
                </li>
                <li>
                    <a href="https://www.baoxian-sz.com/?p=71">意外险不要随便买！买错保险不赔付！</a>
                </li>
                <li>
                    <a href="https://www.baoxian-sz.com/?p=80">关于商业保险，你想了解的都在这里</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--Sidebar Area-->
