<!--Sidebar Area-->
<div class="col-md-4">
    <div class="sidebar-section-right">
        <div class="sidebar-widget">
            <form action="/" method="get">
                <input type="text" class="search_widget_input" name="s" id="s" placeholder="搜索"/>
            </form>
        </div>
        <div class="sidebar-widget">
            <div class="sidebar-widget-title"><h3>近期文章</h3></div>
            <ul>
<!--                {% assign sort_posts = site.posts | sort_natural: 'date' | reverse %}-->
                {% for post in sort_posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<!--Sidebar Area-->
