<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body data-rsssl=1 class="post-template-default single single-post single-format-standard">
{% include nav.html %}
{% include page_title.html %}
<!-- Blog Section Right Sidebar -->
<div class="page-builder">
    <div class="container">
        <div class="row">
            <!-- Blog Area -->
            <div class="col-md-8">
		    <div id="post-blog"
	   class="blog-lg-area-left post-blog post type-post status-publish format-standard has-post-thumbnail hentry category-freestyle">
                    <div class="media">
                        <!--show date of post-->
                        <aside class="blog-post-date-area">
				<div class="date">{{ page.date | date: '%d' }}
					<div class="month-year">{{ page.date | date: '%m' }}月,{{ page.date | date: '%Y' }}</div>
                            </div>
                            <!--                            <div class="comment"><a href="https://www.baoxian-sz.com/?p=207"><i-->
                            <!--                                    class="fa fa-comments"></i>0</a></div>-->
                        </aside>
                        <div class="media-body">
                            <div class="blog-lg-box">
                                <a class="img-responsive" href="#"
							  title="{{ page.title }}">
                                    <img width="950" height="290"
						     src="/assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}.jpeg"
                                         class="img-responsive wp-post-image" alt=""
									      srcset="/assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}.jpeg 950w, /assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}.jpeg 300w, /assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}.jpeg 768w"
                                         sizes="(max-width: 950px) 100vw, 950px"/>
                            </div>
                            <div class="blog-post-lg">
                                <a href="/?author=1"><img alt=''
				   src='/assets/img/author/{{ page.author }}.png'
				   srcset='/assets/img/author/{{ page.author }}.png 2x'
                                                                                    class='img-responsive img-circle avatar-40 photo'
                                                                                    height='40' width='40'/></a>
				作者<a href="/?author=1">{{ page.author }}</a>
                            </div>
			    <h3>{{ page.title }}</h3>
                {{ content }}
                        </div>
                    </div>
                </div>

<!--Blog Author-->
<div class="comment-title"><h3>关于作者</h3></div>
<div class="blog-author">
    <div class="media">
        <div class="pull-left">
            <img alt=''
	     src='/assets/img/author/{{ page.author }}.png'
	     srcset='/assets/img/author/{{ page.author }}.png 2x'
                 class='img-responsive img-circle avatar-200 photo' height='120' width='120'/></div>
                {% if page.author == "Will" %}
                {% include about_will.html %}

                {% elsif page.author == "Candy" %}
                {% include about_candy.html %}

                {% endif %}
    </div>
</div>
<!--/Blog Author-->


                <!--                <div class="comment-form-section">-->

                <!--                    <div id="respond" class="comment-respond">-->
                <!--                        <h3 id="reply-title" class="comment-reply-title">-->
                <!--                            <div class="comment-title"><h3>发表评论</h3></div>-->
                <!--                            <small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=207#respond"-->
                <!--                                      style="display:none;">取消回复</a></small></h3>-->
                <!--                        <form action="https://www.baoxian-sz.com/wp-comments-post.php" method="post" id="commentform"-->
                <!--                              class="form-inline">-->
                <!--                            <div class="blog-form-group-textarea">-->
                <!--                                <textarea id="comments" rows="7" class="blog-form-control-textarea" name="comment"-->
                <!--                                          type="text" placeholder="留下您的信息"></textarea></div>-->
                <!--                            <div class="blog-form-group"><input class="blog-form-control" name="author" id="author"-->
                <!--                                                                value="" type="name" placeholder="名称"/></div>-->
                <!--                            <div class="blog-form-group"><input class="blog-form-control" name="email" id="email"-->
                <!--                                                                value="" type="email" placeholder="电子邮件"/></div>-->
                <!--                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"-->
                <!--                                                                           name="wp-comment-cookies-consent"-->
                <!--                                                                           type="checkbox" value="yes"/> <label-->
                <!--                                    for="wp-comment-cookies-consent">在此浏览器中保存我的名字、电邮和网站。</label></p>-->
                <!--                            <p class="form-submit"><input name="submit" type="submit" id="blogdetail-btn" class="submit"-->
                <!--                                                          value="发送信息"/> <input type='hidden' name='comment_post_ID'-->
                <!--                                                                                value='207' id='comment_post_ID'/>-->
                <!--                                <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>-->
                <!--                            </p></form>-->
                <!--                    </div>&lt;!&ndash; #respond &ndash;&gt;-->
                <!--                </div>-->

            </div>
            <!-- /Blog Area -->
            {% include sidebar.html%}
        </div>
    </div>
</div>
<!-- /Blog Section Right Sidebar -->
{% include footer.html %}
</body>
</html>
